services:
  # PostgreSQL (main database)
  postgres:
    image: postgres:16-alpine
    container_name: problem5-postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: problem5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - app-network

  # Redis (for caching and rate limiting and distribution lock locally)
  redis:
    image: redis:7-alpine
    container_name: problem5-redis
    restart: unless-stopped
    ports:
      - "9379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - app-network

  # Backend API
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: problem5-app
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/problem5
      APPLY_MIGRATION_STARTUP: "true"
      THROTTLE_LIMIT: 10
      THROTTLE_TTL: 60
      REDIS_URL: redis://redis:6379
      PORT: 5000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local
  redis-data:
    driver: local
